<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgregarUsuario</servlet-name>
        <servlet-class>Backend.AgregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Backend.ServletControl.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>Backend.AgregarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProyecto</servlet-name>
        <servlet-class>Backend.AgregarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>Backend.ServletControl.Eliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProyectos</servlet-name>
        <servlet-class>Backend.EliminarProyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPoblacion</servlet-name>
        <servlet-class>Entidades.Proyectos.AgregarPoblacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarInforme</servlet-name>
        <servlet-class>Backend.AgregarInforme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPoblacion</servlet-name>
        <servlet-class>Backend.EliminarPoblacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GCrecimiento</servlet-name>
        <servlet-class>Backend.ServletControl.GCrecimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarInforme</servlet-name>
        <servlet-class>Backend.EditarInforme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOff</servlet-name>
        <servlet-class>Backend.ServletControl.LogOff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Backend.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finalizar</servlet-name>
        <servlet-class>Backend.ServletControl.Finalizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CProyecto</servlet-name>
        <servlet-class>Entidades.Proyectos.CProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarInforme</servlet-name>
        <servlet-class>Backend.EliminarInforme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarUsuario</servlet-name>
        <url-pattern>/AgregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/agregarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProyecto</servlet-name>
        <url-pattern>/AgregarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProyectos</servlet-name>
        <url-pattern>/EliminarProyectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPoblacion</servlet-name>
        <url-pattern>/AgregarPoblacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarInforme</servlet-name>
        <url-pattern>/AgregarInforme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPoblacion</servlet-name>
        <url-pattern>/EliminarPoblacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GCrecimiento</servlet-name>
        <url-pattern>/GCrecimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarInforme</servlet-name>
        <url-pattern>/EditarInforme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOff</servlet-name>
        <url-pattern>/LogOff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finalizar</servlet-name>
        <url-pattern>/Finalizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CProyecto</servlet-name>
        <url-pattern>/CProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarInforme</servlet-name>
        <url-pattern>/EliminarInforme</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
